<!DOCTYPE html>

<html lang="en" ng-app="studentApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controller.js"></script>
</head>
<body ng-controller="StudentAppController">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!-- Sidebar content-->
        Search: <input ng-model="input">
      </div>
      <div class="col-md-10">
        <!--Body content-->
        <ul class="phones">
          <li ng-repeat="student in students | filter:input">
            <span>{{student.id}}</span>
            <p>{{student.name}}</br>
              GPA = {{student.gpa}}
            </p>

          </li>
        </ul>
      </div>
    </div>

      total student is {{getStudentSize()}}<br/>
      total gpa is {{getStudentGPA()}}


  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
